/Fly/Build
/Fly/src/.vs
/Fly/src/packages
/Fly/src/Fly.BusinessLogic/bin
/Fly/src/Fly.BusinessLogic/obj
/Fly/src/Fly.Core/bin
/Fly/src/Fly.Core/obj
/Fly/src/Fly.Dal/bin
/Fly/src/Fly.Dal/obj
/Fly/src/Fly.Presentation/bin
/Fly/src/Fly.Presentation/obj
/Fly/src/Fly.Core.Tests/bin
/Fly/src/Fly.Core.Tests/obj
/Fly/src/Fly.Dal.Tests/bin
/Fly/src/Fly.Dal.Tests/obj
/Fly/src/Fly.Presentation.Tests/bin
/Fly/src/Fly.Presentation.Tests/obj
/Fly/src/Fly.BusinessLogic.Tests/bin
/Fly/src/Fly.BusinessLogic.Tests/obj